<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Absensi Kelas</title>
  </head>
  <body>
    <h1>Form Absensi</h1>
    <form action="/" method="post" id="form-absensi">
      <label for="name">Nama:</label>
      <input type="text" name="name" id="name" /><br />

      <label for="nim">NIM:</label>
      <input type="text" name="nim" id="nim" /><br />

      <label for="mata_kuliah">Mata Kuliah:</label>
      <input type="text" name="mata_kuliah" id="mata_kuliah" /> <br />

      <label for="jurusan">Jurusan:</label>
      <input type="text" name="jurusan" id="jurusan" /> <br />

      <input type="submit" value="Submit" />
    </form>
    <script src="/static/script.js"></script>
  </body>
</html>
